# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
build/
.idea/
.vscode/
.melody/

# Archivos específicos de plataformas
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
macos/Flutter/ephemeral/
macos/Pods/
macos/.symlinks/
linux/flutter/ephemeral/
windows/flutter/ephemeral/
web/ephemeral/

# Archivos generados
*.iml
*.lock
*.log
*.tmp
*.swp

# Archivos de configuración personales
*.orig
*.DS_Store
*.idea/
.vscode/

.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
